
/* .page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  


  .publish-table {
    margin-bottom: 30px;
  }

  .publish-table ul {
    width: 756px; /*Static values*/
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }

  .publish-table ul li { 
    padding: 6px 33px;
    color: var(--text-high);
    background-color: var(--primary);
    border-radius: 5px;
  }

  .publish-table .is-active {
    background-color: var(--primary-dark);
  }

  /*Custom styling table*/
  .publish-table-style thead th:nth-of-type(2),
  .publish-table-style tbody td:nth-of-type(2) {
    max-width: 350px;
    width: 345px;
  }

  .publish-content {
    position: relative;
  }

  .publish-list {
    position: absolute;
    width: 360px;
    top: 0;
    left: 780px;
  }