.sidebar {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 250px; */
  background: var(--background);
  transition: all 0.2s ease-in-out;
  z-index: 1;
  color: var(--text);
  display: block;
}

/* Navigation collapse button */
.sidebar .nav-collapse-button {
  position: absolute;
  top: 60px;
  right: -20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--surface);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation items */
.sidebar-nav {
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 150px;
}

.sidebar-nav .nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  color: var(--text);
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 400;
}

.sidebar-nav .nav-item:hover {
  background: var(--surface);
}

.sidebar-nav .nav-item:focus {
  outline: none;
}

.sidebar-nav .nav-icon {
  height: 24px;
  width: 24px;
  fill: var(--text);

}

.sidebar-nav .nav-item-content {
  /* margin-left: 50px; */
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.sidebar-nav .item-active {
  background: var(--surface);
}
